@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-space;
    @apply text-yellow-100 !important;
    @apply m-0;
    @apply p-0;
  }
}

/* .gold-text {
  color:#fbbf24;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(../images/gold-foil.jpg);
} */

.header {
  font-family: "Fjalla One";
  text-decoration: none !important;
}

.header-link {
  text-decoration: none !important;
  color: rgba(254, 243, 199, var(--tw-text-opacity)) !important;
}

.bootstrap-link-override {
  text-decoration: none !important;
  color: rgba(254, 243, 199, var(--tw-text-opacity)) !important;
}

.bootstrap-link-override:hover {
  color: rgba(252, 165, 165, var(--tw-bg-opacity)) !important;
}

.accordion {
  padding: 0 !important;
  width: 75% !important;
  margin: auto;
}

.accordion-item {
  background-color: rgba(55, 65, 81, var(--tw-bg-opacity)) !important;
  opacity: 0.75 !important;
  border: none !important;
  padding: 1px 2px 1px 2px !important;
}

.accordion-button {
  background-color: rgba(252, 165, 165, var(--tw-bg-opacity)) !important;
  color: rgba(254, 243, 199, var(--tw-text-opacity)) !important;
  font-size: 1.5rem !important;
  font-family: "Fjalla One" !important;
}

.accordion-button:not(.collapsed) {
  color: rgba(254, 243, 199, var(--tw-text-opacity)) !important;
  box-shadow: 0;
}

.accordion-body {
  color: rgba(254, 243, 199, var(--tw-text-opacity)) !important;
}

#mc_embed_signup {
  background: rgb(31, 41, 55, .75) !important;
  margin: auto !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  width: 30% !important;
}

#mc_embed_signup input.email {
  width: 100% !important;
}

#mc_embed_signup form {
  width: 58% !important;
  margin: auto !important;
}

#mc-embedded-subscribe {
  background-color: rgb(252, 165, 165) !important;
}
#mc-embedded-subscribe:hover {
  background-color: rgb(248, 113, 113) !important;
}

#mce-EMAIL {
  color: black !important;
}

/* Portrait and Landscape */
@media only screen and (max-width: 480px) {
  .accordion {
    width: 100% !important;
  }
  #mc_embed_signup {
    width: 100% !important;
  }

  #mc_embed_signup form {
    width: 100% !important;
    margin: auto !important;
    padding-left: 20px !important;
    padding-right: 5px !important;
  }
}

.slick-prev, .slick-next {
  font-size: 15px !important;
  padding: 5rem;
}

 .slick-prev:before, .slick-next:before  {
  content: '' !important;
}

.social-icon .social-svg:hover {
  background-color: "#F8719D";
}
