@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-space;
    @apply text-yellow-100;
    @apply m-0;
    @apply p-0;
  }
}

.gold-text {
  color:#fbbf24;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(../images/gold-foil.jpg);
}